<div class="login-page">
  <div class="title">
    Forgot your password - C²
  </div>

  <div class="login">
    <ng-container *ngIf="!emailSent">
      <div class="contain-divs">
        <div class="input">
          <p>Enter your email</p>
          <input [(ngModel)]="email" type="email" (keyup.enter)="sendEmail()">
          <div *ngIf="errorInEmail" class="errorInEmail">{{errorInEmail}}</div>
        </div>
      </div>
      <div class="btn-container">
        <button type="submit" (click)="sendEmail()" class="btn-login" [disabled]="loading">
          <span *ngIf="loading">Loading...</span>
          <span *ngIf="!loading">Send</span>
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="emailSent">
      Check your email
    </ng-container>
  </div>
