.add-tenant-container {
    padding: 25px 20px;
    position: relative;
    .close-addt {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .addt-header {
        font-size: 13px;
        font-weight: 600;
        color: rgba(42, 42, 42, 1);
    }
    .header-label {
        margin-top: 25px;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(231, 231, 231, 1);
        font-size: 13px;
        font-weight: 600;
        color: rgba(42, 42, 42, 1);
    }
    $margin-top: 20px;
    .lease-input {
        margin-top: $margin-top;
        position: relative;
        input {
            &::-webkit-input-placeholder {
                color: #909090 !important;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                color: #909090 !important;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: #909090 !important;
            }
            &:-ms-input-placeholder {
                color: #909090 !important;
            }
            background: url(/assets/img/searchIcon.svg) no-repeat right;
            background-position: 96% 50%;
            background-size: 14px;
            width: 434px;
            &:focus+.apt-list {
                opacity: 1;
                visibility: visible;
            }
        }
        .apt-list {
            position: absolute;
            top: 40px;
            left: 0;
            visibility: hidden;
            background: white;
            z-index: 10;
            width: 434px;
            max-height: 400px;
            overflow-y: auto;
            border: 1px solid rgba(231, 231, 231, 1);
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
            opacity: 0;
            transition-property: all;
            transition-duration: .2s;
            .apt-label {
                background: white;
                font-size: 13px;
                color: rgba(144, 144, 144, 1);
                height: 30px;
                padding: 5px 10px;
                cursor: pointer;
                &:hover {
                    background: rgba(231, 231, 231, 1);
                }
            }
        }
    }
    .lease-date {
        margin-top: $margin-top;
        display: flex;
        .start,
        .end {
            margin-right: 20px;
            .start-label,
            .end-label {
                color: rgba(57, 57, 57, 1);
                font-size: 13px;
                margin-bottom: 5px;
            }
        }
    }
    .renew-lease {
        display: inline-flex;
        margin-top: $margin-top;
        .c2-check-box {
            margin-right: 8px;
        }
        .renew-lable {
            line-height: 17px;
        }
    }
    .lease-file {
        margin-top: $margin-top;
        display: flex;
        .file-frame {
            margin-right: 10px;
            height: 70px;
            width: 70px;
            background-color: rgba(248, 248, 246, 1);
            border: 1px solid rgba(231, 231, 231, 1);
            display: flex;
            img {
                margin: auto;
            }
        }
    }
    .payment-type {
        margin-top: $margin-top;
        display: inline-block;
        .one-payment,
        .split-payment {
            display: flex;
            .c2-radio {
                margin-right: 7px;
            }
        }
        .one-payment {
            margin-bottom: 10px;
        }
    }
    .due-date {
        margin-top: $margin-top;
        select {
            background-position: 97% 70%;
            width: 245px;
        }
    }
    .due-date,
    .payments>.payment>.single-input {
        .select-label {
            margin-bottom: 4px;
            font-size: 13px;
            color: #000;
        }
    }
    .payments {
        margin-top: $margin-top;
        .payment {
            margin-bottom: $margin-top;
            .single-input {
                input {
                    width: 245px;
                    font-size: 13px;
                }
                div {
                    font-size: 13px;
                    color: rgba(144, 144, 144, 1);
                    margin-top: 4px;
                }
            }
            .double-input {
                input {
                    width: 120px;
                    &:first-child {
                        margin-right: 5px;
                    }
                }
                .input-icon {
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
    }
    .tenant {
        // margin-top: 5px;
        margin-top: $margin-top;
        .tenant-num {
            font-size: 30px;
            color: rgba(144, 144, 144, 1);
        }
        .first-line {
            margin-top: 4px;
            display: flex;
            .form-item {
                margin: auto 0;
                .form-item-title {
                    font-size: 13px;
                    color: rgba(57, 57, 57, 1);
                    margin-bottom: 8px;
                }
                .form-item-input-holder {
                    .birth-calendar .ui-calendar input,
                    input {
                        width: 245px;
                    }
                }
            }
            .tenant-name {
                margin-right: 19px;
            }
        }
        .phone-or-email {
            margin-top: 19px;
            .phone-or-email-label {
                font-size: 13px;
                color: rgba(57, 57, 57, 1);
                margin-bottom: 8px;
            }
            .phone-or-email-holder {
                display: flex;
            }
            .phone-or-email-input {
                margin: auto 19px auto 0;
                position: relative;
                input {
                    width: 245px;
                }
                .remove-number {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                }
            }
        }
        .payment-res {
            margin-top: $margin-top;
            display: flex;
            .pay-res-holder {
                margin: auto 0;
                .pay-res-label {
                    font-size: 13px;
                    color: rgba(57, 57, 57, 1);
                    margin-bottom: 7px;
                }
                .toggle-type {
                    display: flex;
                    cursor: pointer;
                    .type-option {
                        display: flex;
                        height: 40px;
                        width: 157px;
                        color: rgba(42, 42, 42, 1);
                        background: white;
                        border: 1px solid rgba(231, 231, 231, 1);
                        transition-property: all;
                        transition-duration: .3s;
                        &:nth-child(2) {
                            border-left: none;
                        }
                        .type-label {
                            margin: auto;
                            font-size: 13px;
                            font-weight: 600;
                            color: #393939;
                        }
                        &.choosen {
                            .type-label {
                                color: white;
                            }
                            background: rgba(0, 184, 160, 1);
                        }
                    }
                }
            }
            .pay-input {
                margin: auto 0 auto 19px;
                .pay-input-label {
                    font-size: 13px;
                    margin-bottom: 7px;
                }
                input {
                    width: 45px;
                    margin-right: 4px;
                    text-align: center;
                }
            }
        }
        .delete-tenant {
            cursor: pointer;
            margin: auto 0 auto auto;
            display: flex;
            span {
                color: #909090;
                font-size: 13px;
                font-weight: 600;
                margin: auto 0;
            }
            img {
                margin: auto 0;
                width: 17px;
                height: 20px;
            }
        }
    }
    .add-tenant {
        margin-top: 20px;
    }
    .save-button {
        margin-top: 48px;
    }
}

.pickers {
    display: flex;
    datepicker {
        margin-right: 7px;
    }
    select {
        height: 30px;
        width: 48px;
        background-position: 99% 64%;
    }
    div {
        margin: auto 4.5px auto 4.5px;
    }
}