@import '../collection.component.scss';
.item {
	margin-bottom: 9px;
	position: relative;
	.item-header {
		height: 60px;
		background-color: rgba(248, 248, 246, 1);
		border: 1px solid rgba(231, 231, 231, 1);
		cursor: pointer;
		.col-1 {
			.apt {
				width: 68px;
				border-right: 1px solid rgba(239, 239, 239, 1);
				text-align: center;
				line-height: 60px;
				height: 60px;
			}
		}
		.col-3 {
			font-weight: 600;
		}
		.col-4 {
			border-left: 1px solid rgba(239, 239, 239, 1);
			text-align: center;
			line-height: 60px;
			height: 60px;
		}
		&.overdue-header {
			border: 1px solid rgba(226, 45, 68, 1);
			background: #f7efee;
			.col-1 {
				.apt {
					display: flex;
					border-right: none;
					svg {
						margin: auto;
						fill: rgba(226, 45, 68, 1);
					}
				}
			}
			.col-3 {
				color: rgba(226, 45, 68, 1);
			}
			.col-4 {
				border-left: none;
			}
		}
	}
	.more-options {
		position: absolute;
		right: 0;
		top: 0;
		height: 60px;
		width: 55px;
		.three-dots {
			cursor: pointer;
			height: 60px;
			width: 55px;
			display: flex;
			svg {
				margin: auto;
			}
		}
		.c2-menulist {
			top: -11px;
			right: 45px;
			width: 184px;
			&:after,
			&:before {
				left: 100%;
				top: 40px;
			}
			&:after {
				border-width: 6px;
				margin-top: -6px;
			}
			&:before {
				border-width: 7px;
				margin-top: -7px;
			}
		}
		&.active {
			background-color: rgba(230, 230, 230, 1);
		}
	}
	.item-body {
		display: flex;
		max-height: 280px;
		background-color: rgba(255, 255, 255, 1);
		border: 1px solid rgba(231, 231, 231, 1);
		border-top: none;
		opacity: 1;
		overflow-y: hidden;
		transition-property: all;
		transition-duration: .6s;
		.payment-list {
			flex: 0 0 18%;
			margin: 14px 0 15px 21px;
			.payment {
				display: flex;
				font-size: 13px;
				line-height: 25px;
				color: rgba(42, 42, 42, 1);
				.payment-amount {
					margin-left: auto;
					position: relative;
				}
			}
		}
		.tenants {
			flex: 0 0 64%;
			margin: auto 0 auto 16%;
			padding-top: 10px;
			display: flex;
			flex-wrap: wrap;
			.tenant {
				display: flex;
				margin: 0 15px 15px 0;
				.tenant-img {
					flex: 0 0 41px;
					margin: auto 0;
					img {
						width: 41px;
						height: 41px;
						object-fit: contain;
						border-radius: 50%;
					}
				}
				.tenant-details {
					flex: 0 0 auto;
					margin: auto 0 auto 11px;
					.tenant-name {
						font-size: 13px;
						color: rgba(57, 57, 57, 1);
					}
					.tenant-status {
						font-size: 13px;
						color: rgba(0, 184, 160, 1);
						&.unpaid {
							color: rgba(246, 180, 101, 1);
						}
					}
				}
			}
		}
		&.hidden-body {
			max-height: 0;
			opacity: 0;
		}
	}
	.overdue {
		position: relative;
	}
}

.one-payment {
	display: flex;
	margin-left: 10px;
	.remove-img {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 15px;
	}
	.columnify {
		display: flex;
		flex-direction: column;
		width: 50%;
		margin-left: 10px;
	}
}

.form-item-add-input.clickable {
	margin-left: 30px;
	margin-top: 10px;
}

.buttons {
	margin-left: 30px;
	margin-top: 10px;
}

.hidden {
	visibility: hidden;
}

.list-payments {
	margin-right: -10px;
	margin-left: 10px;
	margin-top: 2px;
}

.overdue-divider {
	color: black;
}

.overdue-payment-label {
	color: rgba(246, 180, 101, 1);
}

.color-paid {
	color: rgba(0, 184, 160, 1);
}

.color-unpaid {
	color: #6AA1D3
}

.color-partially-paid {
	color: #83B1B7
}