<div class="page-holder">
    <div class="page-header">
        <div class="page-title">
            TENANTS AND UNITS
        </div>
        <div class="page-stats">
            <div class="number-label">
                {{aptNumLabel}} Occupied Units
            </div>
        </div>
    </div>
    <tenants-view *ngIf="view == 'LEASES'" [searchQuery]="searchQuery" (addTenants)="view = 'ADDTENANTS'" (setAptNumLabel)="setAptNumLabel($event)" (editableLease)='onEditLease($event)'></tenants-view>

    <add-tenant [editableLease]="editableLeases" *ngIf="view == 'ADDTENANTS'" (close)="view = 'LEASES'; editableLeases=undefined;"></add-tenant>
    
</div>