@import '../../../style/variables.scss';
.page-holder {
	margin: 25px;
	border-top: 3px solid $squareButtonColor;
	background: white;
	font-size: 13px;
	.page-header {
		display: flex;
		font-weight: 600;
		box-sizing: border-box;
		padding: 1% 2%;
		border-bottom: 1px solid $inputBorderColor;
		.page-title {
			margin: auto 0;
		}
	}
	.days-wraper {
		display: flex;
		padding-bottom: 20px;
		.days {
			width: 690px;
			margin: 0 auto;
			.no-notifications {
				margin-top: 40px;
				text-align: center;
				font-size: 13px;
				font-weight: 600;
				color: rgba(42, 42, 42, 1);
			}
			.day {
				margin-top: 27px;
				.day-header {
					font-size: 16px;
					font-weight: 600;
					color: rgba(42, 42, 42, 1);
				}
				.notifications {
					margin-top: 3px;
					border-top: 3px solid rgba(102, 175, 181, 1);
					.notification {
						cursor: pointer;
						height: 60px;
						border: 1px solid rgba(231, 231, 231, 1);
						border-top: none;
						display: flex;
						.notification-img {
							margin: auto 23px auto 21px;
							svg {
								fill: #cecece;
							}
							img {
								width: 25px;
								height: 23px;
							}
						}
						.notification-body {
							margin: auto 0;
							font-size: 13px;
							color: rgba(42, 42, 42, 1);
						}
						&:nth-child(2n+1) {
							background-color: rgba(248, 248, 246, 1);
						}
					}
				}
			}
		}
	}
}