@import "../../../style/variables.scss";
.active{
  color: $squareButtonColor
}
.page-holder {
  margin: 25px;
  border-top: 3px solid $squareButtonColor;
  background: white;
  font-size: 13px;
  .page-header {
    display: flex;
    font-weight: 600;
    box-sizing: border-box;
    padding: 1% 2%;
    border-bottom: 1px solid $inputBorderColor;
    .page-title {
      margin: auto 0;
    }
    .page-stats {
      color: #2a2a2a;
      font-weight: bold;
      display: flex;
      margin: auto 0 auto auto;
      .number-label {
        margin-left: 10px;
      }
    }
  }
  .maint-content {
    padding: 1% 3%;
    .maint-content-header {
      display: flex;
      .merge-tickets {
        display: flex;
        margin: auto 0;
        color: #cdcdcd;
        img {
          margin: auto 0;
        }
        .merge-tickets-label {
          margin: auto 0 auto 5px;
          font-weight: 600;
        }
        &.clickable {
          color: $highlightColor;
        }
      }
    }
    .main-message {
      margin-top: 40px;
      text-align: center;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.buttons {
  display: flex;
}

.tickets-holder {
  margin-top: 7px;
  .ticket {
    margin-bottom: 16px;
    position: relative;
    .ticket-check-box {
      left: -29px;
      top: 21px;
      position: absolute;
      input {
        width: 15px;
        height: 15px;
        background: white;
        border-radius: 0;
      }
    }
    .ticket-body {
      padding-right: 41px;
      box-sizing: border-box;
      background: rgba(248, 248, 246, 1);
      border: 1px solid rgba(239, 239, 239, 1);
      height: 60px;
      display: flex;
      .ticket-number-status,
      .ticket-id,
      .ticket-description,
      .ticket-date,
      .ticket-options,
      .ticket-chat {
        margin: auto 0;
        margin-right: 2%;
        font-size: 13px;
        color: rgba(42, 42, 42, 1);
        text-align: left;
        .ticket-gist {
          .gist-icon {
            width: 20px;
            margin: auto 0;
            margin-right: 15px;
            img {
              height: 13px;
              width: 14px;
            }
          }
          .gist-text {
            width: 100%;
          }
        }
      }
      .apt-name {
        width: 5%;
        padding: 18px 2px;
        margin-right: 2%;
        text-align: center;
        border-right: 1px solid rgba(239, 239, 239, 1);
        svg {
          fill: #cecece;
        }
      }
      .ticket-number-status {
        width: 5%;
        .ticket-number {
          overflow-x: hidden;
          text-overflow: ellipsis;
        }
      }
      .ticket-description {
        width: 12%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; // max nb lines to show
        -webkit-box-orient: vertical;
        &:hover {
          // overflow: visible;
          // -webkit-line-clamp: 3;
          display: block;
        }
      }
      .ticket-date {
        width: 11%;
        text-align: center;
        color: rgba(144, 144, 144, 1);
        white-space: nowrap;
      }
      .ticket-options {
        width: 7%;
        text-align: center;
        img {
          margin-right: 13px;
          height: 21px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .ticket-chat {
        margin: auto 0;
        width: 20%;
        div {
          text-align: right;
        }
        .request-sent {
          font-size: 13px;
          .title {
            text-align: left;
            font-weight: 600;
          }
          .time {
            margin-top: 3px;
          }
        }
      }
      &.New {
        border-left: 6px solid rgba(102, 175, 181, 1);
        .ticket-status {
          color: rgba(102, 175, 181, 1);
        }
      }
      &.In_Progress {
        border-left: 6px solid #3887be;
        .ticket-status {
          color: #3887be;
        }
      }
      &.Assigned {
        border-left: 6px solid #f26522;
        .ticket-status {
          color: #f26522;
        }
      }
      &.Vendor {
        border-left: 6px solid rgba(45, 152, 207, 1);
        .ticket-status {
          color: rgba(102, 175, 181, 1);
        }
      }
      &.Done {
        border-left: 6px solid #56b881;
        .ticket-status {
          color: #56b881;
        }
      }
      &.Open {
        border-left: 6px solid #37bec8;
        .ticket-status {
          color: #37bec8;
        }
      }
      &.Auction_Created {
        border-left: 6px solid #fbb03b;
        .ticket-status {
          color: #fbb03b;
        }
      }
      &.Vendor_Required {
        border-left: 6px solid #8a8acb;
        .ticket-status {
          color: #8a8acb;
        }
      }
      &.Vendor_Assigned {
        border-left: 6px solid #50667f;
        .ticket-status {
          color: #50667f;
        }
      }
      &.Vendor_In_Progress {
        border-left: 6px solid #142736;
        .ticket-status {
          color: #142736;
        }
      }
      &.Vendor_Resolved {
        border-left: 6px solid #f0706f;
        .ticket-status {
          color: #f0706f;
        }
      }
      &.Resolved {
        border-left: 6px solid #96cbb3;
        .ticket-status {
          color: #96cbb3;
        }
      }
      &:hover {
        background: rgba(239, 239, 239, 1);
      }
    }
    .ticket-button {
      position: absolute;
      top: 11px;
      right: 0px;
      .c2-ok-button {
        width: 93%;
        min-width: 170px;
      }
      .no-offers {
        color: rgba(42, 42, 42, 1);
        margin-right: 15px;
        line-height: 40px;
        font-size: 14px;
        font-weight: 600;
      }
      .work-scheduled {
        display: flex;
        height: 40px; // width: 157px;
        margin-right: 10px;
        text-align: center;
        background-color: white;
        background-image: url(/assets/img/down_arrow.svg);
        background-repeat: no-repeat;
        background-position: 163px 19px;
        border: 1px solid rgba(205, 205, 205, 1);
        color: rgba(57, 57, 57, 1);
        div {
          margin: auto auto auto 27px;
          font-size: 14px;
          font-weight: 600;
        }
      }
      .ticket-gist {
        display: flex;
        .gist-icon {
          width: 20px;
          margin: auto 0;
          margin-right: 15px;
          img {
            height: 13px;
            width: 14px;
          }
        }
        .gist-text {
          width: 80%;
        }
      }
    }
    .ticket-details {
      background: rgba(248, 248, 246, 1);
      border: 1px solid rgba(239, 239, 239, 1);
      border-top: none;
      display: flex;
      padding: 30px 0;
      opacity: 1;
      overflow-y: hidden;
      transition-property: all;
      transition-duration: 0.8s; // transition-timing-function: cubic-bezier(0, 1, 0.8, 1);
      .ticket-left-pane,
      .ticket-middle-pane {
        width: 40%;
        .left-icon {
          width: 20px;
          margin-right: 20px;
        }
        .right-content {
          width: 100%;
        }
      }
      .ticket-left-pane {
        margin-left: 30px;
        margin-right: 70px;
        .merged,
        .added-details,
        .more-info-input,
        .ticket-messages,
        .joined-tenants {
          display: flex;
          margin-top: 20px;
        }
        .merged {
          margin-bottom: 20px;
          margin-top: 0;
          .left-icon {
            display: flex;
            img {
              margin: auto;
            }
          }
          .right-content {
            display: flex;
            .merged-label {
              margin: auto 10px auto 0;
              font-size: 13px;
              font-weight: 600;
              color: rgba(42, 42, 42, 1);
            }
            .merged-ticket {
              margin: auto 7px auto 0;
              height: 41px;
              width: 41px;
              background-color: rgba(231, 231, 231, 1);
              border-radius: 41px;
              display: flex;
              div {
                margin: auto;
              }
            }
            .merged-seperate {
              margin: auto 0 auto auto;
            }
          }
        }
        .joined-tenants {
          margin-bottom: 20px;
          margin-top: 0;
          .right-content {
            .joined-tenants-label {
              font-size: 13px;
              font-weight: 600;
              color: rgba(42, 42, 42, 1);
              margin-bottom: 8px;
            }
            .joined-tenants-holder {
              display: flex;
              .joined-tenant {
                margin: auto 0;
                margin-right: 7px;
                img {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                }
              }
              .more-tenants {
                text-align: center;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                font-size: 14px;
                background: rgba(205, 205, 205, 1);
              }
            }
          }
        }
        .added-details {
          margin-top: 0;
          .left-icon {
            img {
              width: 21px;
              height: 21px;
            }
          }
          .added-details-label {
            font-weight: 600;
            margin-bottom: 5px;
          }
          .mainProblemDetail {
            word-wrap: none;
            overflow: visible;
            word-break: break-word;
            width: 100%;
            padding-bottom: 10px;
          }

          .unattended-entrance {
            font-weight: 600;
          }
        }
        .more-info-input {
          textarea {
            width: 100%;
            resize: none;
            padding: 5px;
          }
          .left-icon {
            margin-top: 7px;
          }
        }
      }
      $small-pic-width: 100px;
      $pic-list-margin: 8px;
      .ticket-middle-pane {
        display: flex;
        .middle-content {
          .pictures-header {
            padding-right: $small-pic-width + $pic-list-margin + 17px;
            margin-bottom: 5px;
            display: flex;
            .photos-label {
              font-weight: 600;
            }
          }
          .pictures-holder {
            display: flex;
            .main-picture {
              img {
                width: 300px;
                height: 210px;
                object-fit: contain;
              }
            }
            .pictures-list {
              // position: relative !important;
              // display: block !important;
              // display: flex;
              // flex-direction: column;
              overflow: auto !important;
              //height: 320px;
              height: auto;
              width: 225px;
              margin-left: $pic-list-margin;
              img {
                object-fit: cover;
                margin-bottom: $pic-list-margin;
                width: $small-pic-width;
                height: 85px;
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
          .no-pictures {
            width: 295px;
            //height: 200px;
            height: auto;
          }
        }
      }
      .ticket-right-pane {
        // margin-left: auto;
        .c2-cancel-button {
          background: transparent;
          &:hover {
            border-width: 1px;
          }
        }
      }
      &.hide-details {
        padding: 0;
        max-height: 0;
        opacity: 0;
      }
    }
  }
}

.set-time-dialog {
  padding: 0 20px;
  .set-time-label {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .choose-date,
  .choose-time {
    display: flex;
    .left-icon {
      margin-right: 15px;
      margin-top: 5px;
      img {
        width: 22px;
        height: auto;
      }
    }
  }
  .choose-date {
    margin-bottom: 40px;
    .date-options {
      display: flex;
      .today,
      .tomorrow,
      .monday,
      .manual {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        height: 50px;
        width: 85px;
        border: 1px solid rgba(231, 231, 231, 1);
        text-align: center;
        font-size: 13px;
        line-height: 20px;
        color: rgba(57, 57, 57, 1);
        background: white;
        padding: 5px 0;
        div:nth-child(1) {
          width: 100%;
          margin: auto;
        }
        div:nth-child(2) {
          width: 100%;
          margin: auto;
        }
        &.choosen {
          cursor: default;
          color: white;
          font-weight: 600;
          background: rgba(102, 175, 181, 1);
        }
      }
    }
    .date-picker {
      margin: auto;
    }
  }
  .set-time {
    display: flex;
    .select-hours,
    .select-minutes {
      margin: auto 0;
      select {
        -webkit-appearance: none;
        padding-left: 8px;
        background: url(/assets/img/down_arrow.svg) no-repeat right;
        background-position: 93% 70%;
        border-radius: 0px;
        background-size: 20px;
        font-size: 12px;
        height: 35px;
        width: 60px;
        background-color: #ffffff;
        border: 1px solid rgba(231, 231, 231, 1);
        color: #909090;
        outline: none;
      }
    }
    .select-minutes {
      position: relative;
      margin-left: 16px;
      &::before {
        content: ":";
        position: absolute;
        top: 50%;
        left: -9.5px;
        transform: translateY(-50%);
      }
    }
  }
  .set-button {
    margin-top: 42px;
    text-align: center;
  }
}

.choose-vendor {
  display: flex;
  padding: 0 11px;
  .right-pane {
    width: 66%;
    margin-right: 2%;
    .pane-header {
      font-size: 13px;
      font-weight: 600;
      color: rgba(42, 42, 42, 1);
      padding-bottom: 6px;
      border-bottom: 1px solid rgba(231, 231, 231, 1);
    }
    .pick-date {
      margin-top: 20px;
      .time-range {
        display: flex;
        //flex-direction: column;
        // align-items: flex-end;
        .start,
        .end {
          width: 45%;
          margin-right: 5%;
          .start-label,
          .end-label {
            color: rgba(57, 57, 57, 1);
            font-size: 13px;
            margin-bottom: 5px;
          }
        }
      }
      .time-error {
        color: rgba(255, 0, 0, 1);
        font-size: 13px;
      }
    }
    .vendors-to-request {
      margin-top: 20px;
      .vendors-to-request-label {
        font-size: 13px;
        font-weight: 600;
        color: rgba(42, 42, 42, 1);
      }
      .vendors-box {
        margin-top: 15px;
        $right-padding: 40px;
        .vendors-search {
          font-size: 13px;
          height: 40px;
          border: 1px solid rgba(231, 231, 231, 1);
          background: url(/assets/img/searchIcon.svg) no-repeat right;
          background-position: 95% 50%;
          background-size: 15px;
          padding: 5px 0;
          padding-right: $right-padding;
          padding-left: 10px;
          display: flex;
          overflow-y: auto;
          flex-wrap: wrap;
          .choosen-vendors {
            background-color: rgba(102, 175, 181, 1);
            border-radius: 14px;
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
            height: 30px;
            padding: 6px 0;
            padding-right: 28px;
            padding-left: 8px;
            margin-right: 5px;
            color: white;
            position: relative;
            span {
              position: absolute;
              top: 16px;
              right: 8px;
              font-size: 18px;
              font-weight: 600;
              transform: translateY(-50%);
            }
          }
        }
        .vendors-list {
          height: 147px;
          border: 1px solid rgba(231, 231, 231, 1);
          border-top: 0;
          padding: 10px;
          overflow-y: auto;
          overflow-x: hidden;
          .vendor-type {
            margin-top: 10px;
            &:first-child {
              margin-top: 0;
            }
            .type-header {
              position: relative;
              display: flex;
              font-size: 13px;
              font-weight: 600;
              color: rgba(42, 42, 42, 1);
              padding-bottom: 7px;
              padding-right: $right-padding;
              border-bottom: 1px solid rgba(231, 231, 231, 1);
              .all-type {
                margin: auto 0 auto auto;
              }
              .c2-check-box {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
              }
            }
            .type-vendors {
              margin-top: 7px;
              .vendor {
                position: relative;
                font-size: 13px;
                color: rgba(42, 42, 42, 1);
                padding-right: $right-padding;
                margin-bottom: 10px;
                .c2-check-box {
                  position: absolute;
                  top: 50%;
                  right: 10px;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
      }
    }
    .offer-deadline {
      margin-top: 20px;
      .offer-deadline-label {
        margin-bottom: 8px;
        font-size: 13px;
        font-weight: 600;
        color: rgba(42, 42, 42, 1);
      }
    }
    .send-to-vendors {
      margin-top: 20px;
    }
  }
  .left-pane {
    width: 38%;
    .pane-header {
      font-size: 13px;
      font-weight: 600;
      color: rgba(42, 42, 42, 1);
    }
    .time-type {
      margin-top: 20px;
      margin-bottom: 10px;
      display: flex;
      .full-day,
      .time-frame {
        width: 50%;
        display: flex;
        font-size: 13px;
        color: rgba(57, 57, 57, 1);
        .c2-radio {
          margin-right: 9px;
        }
      }
    }
    .ticket-details {
      margin-top: 10px;
      $padding-details: 8px;
      .details-header {
        padding: $padding-details;
        font-size: 13px;
        font-weight: 600;
        color: rgba(42, 42, 42, 1);
        border: 1px solid rgba(231, 231, 231, 1);
      }
      .details-body {
        padding: $padding-details;
        border: 1px solid rgba(231, 231, 231, 1);
        border-top: none;
        font-size: 13px;
        color: rgba(42, 42, 42, 1);
      }
    }
    .photos {
      margin-top: 20px;
      .photos-header {
        display: flex;
        .photos-label {
          font-size: 13px;
          font-weight: 600;
          color: rgba(42, 42, 42, 1);
        }
      }
      .photos-holder {
        margin-top: 10px; // overflow-x: scroll;
        display: flex;
        width: 235px;
        img {
          margin-right: 10px;
          width: 73px;
          height: 73px;
          object-fit: cover;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.pickers {
  display: flex;
  datepicker {
    margin-right: 1px;
    margin-top: 1px;
  }
  select {
    height: 30px;
    width: 55px;
    background-position: 99% 64%;
    margin-top: 1px;
  }
  div {
    margin: auto 4.5px auto 4.5px;
  }
}

.add-photo {
  margin-left: auto;
  .plus {
    border: none;
    width: 18px;
    height: 18px;
    .line {
      width: 12px;
      &:nth-child(2) {
        width: 2px;
        height: 12px;
      }
    }
  }
  .add-input-label {
    margin-left: 4px;
  }
}

.check-offers-dialog {
  .lease-row {
    display: flex;
    justify-content: space-between;
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5 {
      margin: auto 0;
      font-size: 13px;
      color: rgba(42, 42, 42, 1);
    }
    .col-1 {
      margin-left: 5px;
      flex: 0 0 14%;
      display: flex;
      span {
        margin: auto 0;
      }
    }
    .col-2 {
      flex: 0 0 17%; // margin-left: 15%
    }
    .col-3 {
      flex: 0 0 14%;
    }
    .col-4 {
      height: 100%;
      flex: 0 0 14%;
    }
    .col-5 {
      height: 100%;
      flex: 0 0 14%;
    }
    .col-6 {
      height: 100%;
      flex: 0 0 20%;
    }
  }
  .item {
    margin-bottom: 9px;
    position: relative;
    .item-header {
      height: 60px;
      background-color: rgba(248, 248, 246, 1);
      border: 1px solid rgba(231, 231, 231, 1);
      cursor: pointer;
      .col-1 {
        margin-left: 10px;
        width: 14%;
        height: 60px;
      }
      .col-3 {
        width: 14%;
        font-weight: 600;
        margin-left: 5px;
      }
      .col-4 {
        width: 14%;
        line-height: 60px;
        height: 60px;
      }
      .col-2 {
        width: 14%;
        margin-left: 5px;
      }
      .col-5 {
        width: 14%;
        line-height: 60px;
        height: 60px;
        margin-left: -5px;
        margin-right: -5px;
      }
      .col-6 {
        width: 30%;
        line-height: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .item-body {
      display: flex;
      max-height: 280px;
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid rgba(231, 231, 231, 1);
      border-top: none;
      opacity: 1;
      overflow-y: auto;
      transition-property: all;
      transition-duration: 0.6s;
      font-size: 13px;
      &.hidden-body {
        max-height: 0;
        opacity: 0;
      }
      .icon {
        height: 18px;
        width: auto;
        z-index: 1;
      }
      .left-panel {
        width: 45%;
        .more-info-input,
        .ticket-messages,
        .added-details {
          display: flex;
          margin-top: 20px;
          .left-icon {
            width: 20px;
            margin-right: 20px;
            margin-left: 20px;
          }
          .right-content {
            width: 90%;
          }
        }
        .ticket-messages {
          margin-bottom: 20px;
        }
      }
      .middle-panel {
        $small-pic-width: 100px;
        $pic-list-margin: 8px;
        width: 25%;
        display: flex;
        .left-icon {
          width: 20px;
          margin: 20px;
        }
        .middle-content {
          .pictures-header {
            .photos-label {
              font-weight: 600;
              margin: 20px 0px;
            }
          }
          .pictures-holder {
            .pictures-list {
              // position: relative !important;
              // display: block !important;
              // display: flex;
              // flex-direction: column;
              overflow: auto !important;
              height: 160px;
              width: 225px;
              margin-left: $pic-list-margin;
              img {
                object-fit: cover;
                margin-bottom: $pic-list-margin;
                width: $small-pic-width;
                height: 85px;
                &:last-child {
                  margin-bottom: 0;
                }
              }
              .photoSizeTextVendor {
                color: #00b8a0;
                position: absolute;
                text-align: center;
                top: 50%;
                left: 65%;
                font-weight: bold;
              }
            }
          }
          .no-pictures {
            width: 295px;
            height: 200px;
          }
        }
      }
      .right-panel {
        width: 30%;
        .availability {
          display: flex;
          margin-top: 20px;
          .left-icon {
            width: 20px;
            margin-right: 20px;
            margin-left: 20px;
          }
          .right-content {
            width: 90%;
            input {
              width: unset;
            }
          }
        }
      }
    }
  }
}

.rating-vendors-dialog {
  .vendor-rating {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 20px;
    img {
      cursor: pointer;
      margin: auto 0;
      width: 54px;
      height: 53px;
    }
  }
  .add-note-label {
    margin-top: 52px;
    font-size: 13px;
    font-weight: 600;
    // color: rgba(42, 42, 42, 1);
    color: #00b8a0;
    .note-text-area {
      margin-top: 13px;
      height: 105px;
      width: 542px;
      resize: none;
    }
    .set-button {
      margin-top: 25px;
    }
  }
}

.add-note-label {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 15px;
}

.note-text-area {
  width: 100%;
  min-height: 100px;
}

.tab-right {
  margin-right: 10px !important;
}
.tab-right15 {
  margin-right: 15px !important;
}
.tab-right-10 {
  margin-left: -15px !important;
}
.table-header {
  display: flex;
  font-size: 11px;
  font-weight: 600;
  color: rgba(42, 42, 42, 1);
  margin-top: 20px;
  border: none;
  height: auto;
}
.lease-row {
  display: flex;
  width: 100%;
  text-align: center;
  .col-1 {
    overflow-x: hidden;
    width: 6%;
  }
  .col-2 {
    width: 6%;
  }
  .col-3 {
    width: 7%;
  }
  .col-4 {
    width: 9%;
  }
  .col-5 {
    width: 20%;
  }
  .col-6 {
    width: 5%;
  }
  .col-7 {
    width: 17%;
  }
  .col-8 {
    width: 10%;
  }
  .col-9 {
    width: 20%;
  }
}

.open-edit-title-and-subtitle {
  // position: absolute;
  // left: 30%;
  // top: 30px;
  transform: translateY(-50%);
  height: 18px;
  width: auto;
  z-index: 1;
}

.margin-top--7px {
  margin-top: -7px;
}

.dropdown-title-and-sub {
  display: flex;
  margin: 10px 0px;
}

.width-50p {
  width: 50%;
  border-left: none;
}

.info-status {
  position: absolute;
  left: 12%;
  top: 23px;
  img {
    width: 15px;
    &:hover + .tooltip {
      display: block;
    }
  }
}

.info-status-created {
  position: absolute;
  left: 44%;
  top: 23px;
  img {
    width: 15px;
    &:hover + .tooltip {
      display: block;
    }
  }
}

.info-status-updated {
  position: absolute;
  left: 55%;
  top: 23px;
  img {
    width: 15px;
    margin-left: 20px;
    &:hover + .tooltip {
      display: block;
    }
  }
}

.tooltip {
  display: none;
  position: absolute;
  top: 27px;
  left: 100%;
  transform: translateX(-50%);
  width: 200px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(231, 231, 231, 1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.09);
  font-size: 11px;
  color: rgba(57, 57, 57, 1);
  line-height: 20px;
  padding: 15px 29px 16px 14px;
  text-align: center;
  &:after,
  &:before {
    left: 84.5px;
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 7px;
    margin-top: -7px;
  }
  &:before {
    border-color: rgba(231, 231, 231, 0);
    border-bottom-color: #e7e7e7;
    border-width: 8px;
    margin-top: -8px;
  }
}

.add-c2-cancel-button {
  width: 88px;
}
.add-c2-ok-button {
  width: 72px !important;
  min-width: 72px !important;
}

.photoSizeText {
  color: #00b8a0;
  position: absolute;
  text-align: center;
  left: 63%;
  font-weight: bold;
}

.hideText {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; // max nb lines to show
  -webkit-box-orient: vertical;
  &:hover {
    // overflow: visible;
    // -webkit-line-clamp: 3;
    display: block;
  }
}

.C2-color {
  color: #00b8a0;
}

.C2-dd-label {
  background: white;
  border: 1px solid #e7e7e7;
  border-right: none;
  padding-left: 18px;
  display: inline-block;
  line-height: 33px;
  font-size: small;
  color: #909090;
}

.C2-no-offers-add {
  line-height: 20px !important;
  width: 68px;
  color: #909090 !important;
  font-size: 12px !important;
}

.notification-num {
  position: absolute;
  height: 20px;
  width: 20px;
  color: rgba(57, 57, 57, 1);
  background-color: rgba(0, 184, 160, 1);
  border-radius: 50%;
  top: -11px;
  left: 89%;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  border: 1px solid black;
}

.CB-Disabled {
  color: #909090;
}

.CB-Enabled {
  color: #00b8a0;
}

.other-category {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
}

.other-category-input {
  width: 100%;
  height: 30px;
}

.c2-list {
  width: 140%;
  min-width: 170px;
  margin-left: -60%;
}

/deep/ .mat-ink-bar {
  background-color: #00b8a0 !important;
}

/deep/ .mat-ripple:focus {
  background-color: rgba(0, 184, 160, 0.1) !important;
}

/deep/.mat-focused .mat-form-field-label {
  color: #00b8a0 !important;
}

/deep/ .mat-form-field-ripple {
  background-color: #00b8a0 !important;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

// ::ng-deep .mat-tab-label {
//   justify-content: center; /* align items in Main Axis */
// }

/deep/ .mat-tab-label {
  height: 30px !important;
}

/deep/ .mat-progress-bar-buffer {
  background-color: rgba(0, 184, 160, 0.5);
}

/deep/ .mat-progress-bar-fill::after {
  background-color: rgb(0, 184, 160);
}

/deep/ .mat-progress-bar-background {
  fill: white;
}

/deep/ .mat-form-field-infix {
  width: 170px;
}

/deep/ .mat-tab-body-content {
  max-height: min-content;
}

input#message {
  background: none;
  border: none;
  border-bottom: 1px solid #4c4c4c;
  outline: none;
  box-shadow: none;
  color: black;
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: 3em;
  padding: 1.2em 0;
}

.chat-container {
  display: block;
  width: 100%;
  a {
    text-transform: uppercase;
    font-weight: bold;
    color: #816a98;
    font-size: 0.8em;
    letter-spacing: 2px;
  }
  p {
    background: #323035;
    padding: 1.1em;
    color: black;
    margin: 5px 0 10px 0;
  }
}
.chat-container:nth-child(4) {
  opacity: 0.8;
}
.chat-container:nth-child(3) {
  opacity: 0.6;
}
.chat-container:nth-child(2) {
  opacity: 0.4;
}

/deep/ .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: rgb(0, 184, 160);
}

/deep/ .mat-progress-spinner.mat-warn circle,
.mat-spinner.mat-warn circle {
  stroke: white;
}

/deep/ .mat-simple-snackbar-action {
  color: #00b8a0;
}

// FAB Speed-Dial
.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;

    button {
      margin-bottom: 17px;
    }
  }
}

.fab-toggler {
  float: right;
  z-index: 100;
}

/deep/ .mat-fab.mat-accent {
  background-color: #00b8a0;
  color: white;
}

// /deep/ .mat-checkbox-checked .mat-checkbox-background {
//   background-color: #00b8a0 !important;
// }

// /deep/.mat-checkbox-checked.mat-accent .mat-checkbox-background,
//  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
//   background-color: #00b8a0 !important;
// }

/deep/ .mat-checkbox-checked .mat-checkbox-background {
  background-color: #00b8a0 !important;
}

/deep/ .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(0, 184, 160, 0.11) !important;
}

/deep/ .mat-checkbox-layout .mat-checkbox-inner-container-no-side-margin {
  margin-right: -20px;
  margin-top: 0px;
  background-color: white;
}

.openTicketClass {
  margin-top: -25px;
  text-align: center;
  label > input {
    /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }
  label > input + img {
    cursor: pointer;
    width: auto;
    height: auto;
    max-height: 50px;
    max-width: 50px;
    transition: transform 0.2s;
  }
  label > input:checked + img {
    color: #00b8a0;
    transform: scale(1.2);
    //transform: scale(-1.2);
    //filter: invert(100%);
    //filter: hue-rotate(180deg);
    //filter: sepia(100%);
    filter: brightness(0%);
  }
  .mat-button-toggle-checked {
    background-color: #00b8a0;
    color: white;
  }
}

