<header>
  <div class="header-container-left" *ngIf="company">
    <div *ngIf="(company$ | async)?.complexes?.length > 0" class="company-icon clickable" [routerLink]="[ 'overview']" [routerLinkActive]="['active-page']">
      <img *ngIf="(company$ | async)" [src]='(company$ | async).imageUrl' />
    </div>
    <div class="complex-selector" *ngIf="!isInSetup">
      <div class="selector-header selector" (click)="complexesList.style.display = 'block'">
        <div class="complex" *ngIf="(company$ | async).currentComplex">
          <span class="name">{{(company$ | async).currentComplex.name}}</span>
          <span class="notifications" 
          *ngIf="(company$ | async).currentComplex.notificationCount && (company$ | async).currentComplex.notificationCount > 0">
            {{(company$ | async).currentComplex.notificationCount}}
          </span>
        </div>
      </div>
      <div class="dropdown-menu" #complexesList>
        <div class="menu-item" *ngFor="let complex of company.complexes; let complexIndex = index" (click)="complexChanges(complexIndex)">
          <span class="name">{{complex.name}}</span>
          <div class="notifications" *ngIf="complex.notificationCount && complex.notificationCount > 0">{{complex.notificationCount}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-container-right">
    <div *ngIf="(user$ |async)?.viewPermissions?.includes('Announcements')" class="stab-icon announcements"
      [routerLink]="[ 'announcements']" [routerLinkActive]="['active-page']">
      <img src="./assets/img/announcements.png">
    </div>
    <div *ngIf="(user$ |async)?.viewPermissions?.includes('Messages')" class="stab-icon messaging" [routerLink]="[ 'messaging']"
      [routerLinkActive]="['active-page']">
      <img src="./assets/img/messages.png">
      <div class="notification-num" *ngIf="(unreadCount$ | async) !== 0">
        {{(unreadCount$ | async)}}
      </div>
    </div>
    <div class="stab-icon bell" [routerLink]="[ 'notifications']" [routerLinkActive]="['active-page']">
      <img src="./assets/img/bell.png">
      <div class="notification-num" *ngIf="(unreadNotifications$ | async) !== 0">
        {{(unreadNotifications$ | async)}}
      </div>
    </div>
    <div class="stab-icon settings" [routerLinkActive]="['active-page']" (click)="settingsList.style.display = 'block'">
      <img src="./assets/img/settings.png">
      <div class="dropdown-menu" #settingsList>
        <div *ngIf="(user$ |async)?.viewPermissions?.includes('Setup')" class="menu-item" [routerLink]="['setup', 'company']">Edit Company Details</div>
        <div *ngIf="(user$ |async)?.viewPermissions?.includes('Setup')" class="menu-item" [routerLink]="['setup', 'company']" [queryParams]="{ stage: 'users and roles' }">Edit Users & Roles</div> 
        <div *ngIf="(user$ |async)?.viewPermissions?.includes('Setup')" class="menu-item" [routerLink]="['setup', 'company']" [queryParams]="{ stage: 'facilities' }">Edit Facilities</div>
        <div class="menu-item" [routerLink]="['account']">Account Details</div>
        <div class="menu-item" (click)="signout()">Sign-out</div>
      </div>
    </div>
    <div class="stab-icon logo" (click)="linksList.style.display = 'block'">
      <img src="./assets/img/c2_logo.png" alt="C² Logo">
      <div class="dropdown-menu" #linksList>
        <div class="menu-item"><a [href]="'mailto:admin@c2tenants.com'" target="_blank">Contact Us</a></div>
        <!-- <div class="menu-item"><a [href]="commercialPageUrl" target="_blank">Download App</a></div>
        <div class="menu-item"><a [href]="commercialPageUrl + '/faq'" target="_blank">FAQ</a></div>
        <div class="menu-item"><a [href]="commercialPageUrl + '/career'" target="_blank">Jobs</a></div>
        <div class="menu-item"><a [href]="commercialPageUrl + '/press'" target="_blank">Press</a></div>
        <div class="menu-item"><a [href]="commercialPageUrl + '/press'" target="_blank">Press Kit</a></div> -->
        <div class="menu-item"><a [href]="commercialPageUrl + '/legal/privacy/platform/en'" target="_blank">Privacy Policy</a></div>
        <div class="menu-item"><a [href]="commercialPageUrl + '/legal/terms/platform/en'" target="_blank">Terms & Conditions</a></div>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="side-menu" [ngClass]="{'hidden': isInSetup}">
    <div class="menu-item" [routerLink]="['overview']" [routerLinkActive]="['active-page']">
      <div class="icon">
        <svg width="25" height="25" viewBox="0 0 25 25">
          <use xlink:href="./assets/icons.svg#overview"></use>
        </svg>
      </div>
      <div class="label">Overview</div>
    </div>
    <!-- <div *ngIf="(user$ |async)?.viewPermissions?.includes('Facility')" class="menu-item" [routerLink]="['facility']"
      [routerLinkActive]="['active-page']" [ngClass]="{'active-page': isInAmenityPage()}">
      <div class="icon">
        <svg width="27" height="20" viewBox="0 0 27 20">
          <use xlink:href="./assets/icons.svg#facility"></use>
        </svg>
      </div>
      <div class="label">Community</div>
    </div> -->
    <!-- <div *ngIf="(user$ |async)?.viewPermissions?.includes('Maintenance')" class="menu-item" [routerLink]="['maintenance']"
      [routerLinkActive]="['active-page']">
      <div class="icon">
        <svg width="23" height="25" viewBox="0 0 23 25">
          <use xlink:href="./assets/icons.svg#wrench"></use>
        </svg>
      </div>
      <div class="label">Maintenance</div>
    </div> -->
    <div *ngIf="(user$ |async)?.viewPermissions?.includes('Maintenance')" class="menu-item" [routerLink]="[ 'maintenancePlus']"
    [routerLinkActive]="['active-page']">
    <div class="icon">
        <!-- <img src="./assets/img/MaintenancePlusWhite.svg" alt="Kiwi standing on oval" style="width: 50px; margin-bottom: -10px;"> -->
        <svg width="25" height="23" viewBox="0 0 25 23">
          <use xlink:href="./assets/icons.svg#helemet"></use>
        </svg>
      </div>
    <div class="label">Maintenance+</div>
  </div>
    <!-- <div *ngIf="(user$ |async)?.viewPermissions?.includes('Vendors')" class="menu-item" [routerLink]="[ 'vendors']"
      [routerLinkActive]="['active-page']">
      <div class="icon">
        <svg width="25" height="23" viewBox="0 0 25 23">
          <use xlink:href="./assets/icons.svg#helemet"></use>
        </svg>
      </div>
      <div class="label">Vendors</div>
    </div> -->
    <div *ngIf="(user$ |async)?.viewPermissions?.includes('Tenants')" class="menu-item" [routerLink]="[ 'tenants']"
      [routerLinkActive]="['active-page']">
      <div class="icon">
        <svg width="30" height="23" viewBox="0 0 30 23">
          <use xlink:href="./assets/icons.svg#tenants"></use>
        </svg>
      </div>
      <div class="label">Residents</div>
    </div>
    <!-- <div *ngIf="(user$ |async)?.viewPermissions?.includes('Collections')" class="menu-item" [routerLink]="[ 'collection']"
      [routerLinkActive]="['active-page']">
      <div class="icon">
        <svg width="23" height="19" viewBox="0 0 23 19">
          <use xlink:href="./assets/icons.svg#collection"></use>
        </svg>
      </div>
      <div class="label">Collection</div>
    </div> -->
  </div>
  <div class="router-container" [ngClass]="{'inSetup': isInSetup}">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="loading" class="loading">
    <div class="loading-box">
      <div class="loader">
        <img src="./assets/img/loader_big.gif">
      </div>
      <div class="label">
        Loading Page
      </div>
    </div>
  </div>
</main>
<footer>
</footer>