.content {
	background: white;
	padding: 25px 83px;
	.header {
		font-weight: 600;
		font-size: 20px;
		color: rgb(42, 42, 42);
		line-height: 1.389;
	}
	.form {
		width: 487px;
		margin-top: 25px;
		.form-label {
			font-size: 13px;
			color: rgb(42, 42, 42);
			line-height: 1.923;
			font-weight: 600;
		}
		.form-body {
			border: 1px solid rgb(231, 231, 231);
			background-color: rgb(248, 248, 246);
			padding: 20px;
			margin-top: 13px;
			position: relative;
			.form-input {
				margin-top: 8px;
				.input-label {
					font-size: 13px;
					font-family: "Open Sans";
					color: rgb(42, 42, 42);
					line-height: 1.923;
				}
				input {
					margin-top: 5px;
				}
				&:first-child {
					margin-top: 0px;
				}
			}
			.form-button {
				margin-top: 15px;
				.error {
					font-size: 13px;
					color: rgba(255, 3, 3, 1);
				}
			}
			.successful {
				background-color: rgb(248, 248, 246);
				position: absolute;
				top: 1px;
				bottom: 1px;
				right: 1px;
				left: 1px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				.ok-sign {
					flex: auto 0;
					margin: 0 auto;
					img {
						width: 31px;
						height: 24px;
					}
				}
				.ok-label {
					flex: auto 0;
					margin: 0 auto;
					color: rgb(42, 42, 42);
					line-height: 1.923;
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
	}
}