
$appMinWidth:600px;

$headerHeight: 50px;
$headerColor: #393939;
$headerTextColor:#bdbdbd;

$sidemenuWidth: 90px;
$sidemenuBackgroundColor:#ffffff;
$sidemenuTextColor:#cccccc;
$sidemenuSeparatorColor:#ebebeb;

$backgroundColor:#f5f1ee;
$highlightColor:#00b8a0;
$squareButtonColor:#00b8a0;
$squareButtonTextColor:#ffffff;
$semiTitleColor:#2a2a2a;
$itemBackgroundColor:#f8f8f6;
$itemBorderColor:#e7e7e7;

$inputBorderColor:#e7e7e7;
$inputTextColor:#909090;
$inputBackgroundColor:#ffffff;