<div class="page-holder" *ngIf="(currentComplex$ | async) !== null">
  <div class="banner" [ngStyle]="{'background-image': 'url(' + (currentComplex$ | async).imageUrl + ')'}">
    <div class="banner-bottom">
      <div class="complex-label">
        <div class="complex-name">{{(currentComplex$ | async).name}}</div>
        <div class="complex-address">{{(currentComplex$ | async).address}}</div>
      </div>
      <div *ngIf="(user$ |async)?.actionPermissions?.includes('Facility')" class="edit-photo" [ngClass]="{'clickable': !imageUpload.uploadingInProgress}"
        (click)="imageUpload.click()">
        <app-image-upload #imageUpload (imageUploaded)="imageUploaded($event)"></app-image-upload>
        <img src="/assets/img/photo_icon_white.png">
        <div class="edit-photo-label">
          <span *ngIf="!imageUpload.uploadingInProgress">Edit Facility Photo</span>
          <span *ngIf="imageUpload.uploadingInProgress">
            <img src="/assets/img/loader_big.gif" alt="">
          </span>
        </div>
      </div>
    </div>
  </div>
  <facility-calendar [dataSubject]="dataSubject"></facility-calendar>
  <div class="units-and-amenities">
    <facility-units [buildings]="buildings" [dataSubject]="dataSubject"></facility-units>
    <facility-amenities [amenities]="amenities"></facility-amenities>
  </div>
</div>
