:host {
  display: flex;
  justify-content: center;
}

.login-page {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  z-index: 1000;
}

.login-page {
  .title {
    margin-top: 30px;
    margin-bottom: 29px;
    font-family: Open Sans;
    font-size: 52px;
    font-weight: 300;
    color: #393939;
    text-align: center;
  }
  .login {
    margin: 0 auto;
    margin-top: 80px;
    width: 543px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    margin-bottom: 19px;
    .contain-divs {
      display: flex;
      flex-direction: column;
    }
  }
  .login {
    .input {
      float: left;
      margin-left: 31px;
      width: calc(100% - 73px);
      .input-invalid {
        border: 1px solid #ff0000;
      }
      .message {
        font-size: 12px;
        font-weight: 600;
        color: #ff0000;
        margin-top: 3px;
      }
      .error {
        margin-top: 3px;
        font-size: 13px;
        font-weight: 600;
        color: red;
      }
    }
    .input p {
      font-family: Open Sans;
      font-size: 14px;
      color: #393939;
      text-align: left;
    }
    .input input {
      font-family: Open Sans;
      font-size: 14px;
      color: #393939;
      text-align: left;
      width: 100%;
      padding: 4px 4px 4px 12px;
      border: 1px solid #e8e8e8;
    }
    .alert-message {
      font-family: Open Sans;
      font-size: 14px;
      color: red;
      text-align: left;
    }
    .btn-container {
      display: flex;
      position: relative;
      .btn-login {
        float: left;
        margin-left: 31px;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 255px;
        padding-top: 10px;
        padding-bottom: 15px;
        background-color: #00c0a7;
        font-family: Open Sans;
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        cursor: pointer;
        border: none;
        &:focus {
          outline: none;
        }
      }
      img {
        width: 30px;
        position: absolute;
        top: 41px;
        right: 208px;
      }
    }
  }
  .forgot-password {
    margin: auto;
    width: 124px;
  }
  .forgot-password a {
    text-decoration: none;
    font-family: Open Sans;
    font-size: 14px;
    color: #393939;
    text-align: center;
  }
  .mobile-open-app {
    font-family: Open Sans;
    width: 100vw;
    height: 52px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    img {
      border: 1px solid lightgray;
      padding: 7px;
      width: 34px;
      height: 34px;
      box-sizing: border-box;
    }
    p {
      color: black;
      font-size: 13px;
    }
    .app-button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #00b8a0;
      border: 1px solid #00b8a0;
      cursor: pointer;
      text-decoration: none;
      box-sizing: border-box;
      width: 76px;
      height: 25px;
      font-size: 10px;
    }
  }
  .mobile-download-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Open Sans;
    font-size: 13px;
    margin: 0 20px;
    font-weight: 300;
    a {
      img {
        margin-top: 20px;
        margin-bottom: 30px;
        width: 153px;
      }
    }
  }
  .dont-have-account {
    margin: 65px auto auto;
    width: 160px;
  }
  .dont-have-account a {
    font-family: Open Sans;
    font-size: 14px;
    color: #393939;
    text-align: center;
    text-decoration: none;
  }
  .register-and-download {
    margin: 18px auto auto;
    width: 322px;
    margin-bottom: 243px;
  }
  .register-and-download a {
    font-family: Open Sans;
    font-size: 14px;
    color: #00c0a7;
    text-align: center;
    text-decoration: none;
  }
  .register-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00b8a0;
    color: #ffffff;
    font-family: Open Sans;
    padding: 13px;
    text-decoration: none;
    max-width: 400px;
    font-size: 13px;
    margin: 13px;
    margin-bottom: 20px;
    width: 84vw;
  }
  .download {
    color: #00b8a0;
    font-family: Open Sans;
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

@media(max-width:1045px) {
  .login-page {
    min-height: 419px;
    .title {
      text-align: left;
      align-self: flex-start;
      margin: 17px 13px;
      font-size: 25px;
    }
    .dont-have-account {
      margin: 0 auto;
      width: auto;
      a {
        font-size: 17px;
      }
    }
  }
}

.error {
  color: #ff0000;
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 32px;
}
