<div class="login-page">
  <div class="title">
    Reset your password - C²
  </div>

  <div class="login">
    <form *ngIf="!passwordReset" novalidate [formGroup]="passwordForm">
      <div class="contain-divs">
        <div class="input">
          <p>New password</p>
          <input type="password" formControlName="password" (keyup.enter)="resetPassword()">
          <div *ngIf="(passwordForm.get('password').dirty || passwordForm.get('password').touched) && !passwordForm.get('password').valid"
            class="message">
            Password must contain at least 6 charecters
          </div>
        </div>
        <div class="input">
          <p>Confirm Password</p>
          <input type="password" formControlName="passwordRepeat" (keyup.enter)="resetPassword()">
          <div *ngIf="notMatchingPassword" class="message">
            Passwords do not match
          </div>
        </div>
        <div class="btn-container">
          <div *ngIf="error" class="error">
            Error occurred
          </div>
          <button type="submit" (click)="resetPassword()" class="btn-login" [disabled]="loading">
            <span *ngIf="loading">Loading...</span>
            <span *ngIf="!loading">Reset Password</span>
          </button>
        </div>
      </div>
    </form>
    <ng-container *ngIf="passwordReset">
      <br> Your password was reset
      <br>
      <!-- <a href="/login">Back to login</a> -->
    </ng-container>
  </div>
